<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head data-th-replace="~{/layouts/header :: head}" ></head>
	
	<body>
		<div class="container-fluid">
			<header data-th-replace="~{/layouts/header :: header}"></header>
			<div class="row">
				<div class="col col-sm-12 fondo-form p-5">
					<div class="row mb-5">
						<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
							<a class="btn btn-primary" data-th-href="@{/carrera/nuevo}">Boton</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer data-th-replace="~{/layouts/footer :: footer}"></footer>
		<script type="text/javascript" data-th-src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" ></script>
	</body>
</html>