<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="../static/css/estilos.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Inicio</title>
		<link th:rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
		<header class="encabezado">
			 <img alt="logo-facultad" src="https://www.fi.unju.edu.ar/images/LOGOS-FI-UNJU/logo-fi-unju-institucional-285x159.png">
			 <h1 class="nombre_facultad">Facultad de Ingeniería de Jujuy</h1>
			 <h2 class="lema_facultad">Universidad Nacional de Jujuy: "Enciende tu antorcha en este fuego"</h2>
		</header>
		
	</body>
</html>