<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="../static/css/estilos.css">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Inicio</title>
		<link th:rel="stylesheet" th:src="@{webjars/bootstrap/css/bootstrap.min.css}">
	</head>
	<body>
		<script type="text/javascript" th:src="@{webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<div class="encabezado">
			<header class="encabezado-header">
			</header>
		</div>
	</body>
</html>